@import './_rwd'
@import './_font'
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Oxygen+Mono&display=swap')

html, body, #app
  font-family: 'Oxygen Mono', monospace

.pc-show
  @media only screen and (max-width: 768px)
    display: none !important

.tablet-show
  @media only screen and (min-width: 768px)
    display: none !important

// Sizing
.w-fit
  width: fit-content !important

.h-fit
  height: fit-content !important

.container
  @include desktop
    max-width: 860px !important
  @include tablet
    padding: .25rem !important

// Cursor
.cursor-pointer
  cursor: pointer

// tooltip
.tooltip-inner
  max-width: 350px !important
  padding: .2rem !important
  font-size: 14px !important
  text-align: left !important
